<main class="">
  <div class="container">
    <div class="row table-of-contents">
      <div class="col-md-4">
        <h3>Table of Contents</h3>
      </div>
      <div class="col-md-8">
        <h1>Cuberis Standards</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <img src="http://www.washingtoncitypaper.com/_dev/pubsys/images/1198190787_m_film1a_51.jpg">
      </div>
    </div>
  </div>
</main>
