<main class="">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Table of Contents</h3>
        <ul>
          <li>Git Usage</li>
          <li>
            <ul>
              <li>Branching Strategy<li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <h1>THE CODE SCHOOL GUY IS A GOOBER</h1>
      </div>
    </div>
  </div>
</main>
