<main class="">
  <div class="container">
    <div class="row table-of-contents">
      <div class="col-md-4">
        <h3>Table of Contents</h3>
        <ul>
          <li>Git Usage</li>
          <li>
            <ul>
              <li>Branching Strategy<li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <h1>THE CODE SCHOOL GUY IS A GOOBER</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <img src="http://www.washingtoncitypaper.com/_dev/pubsys/images/1198190787_m_film1a_51.jpg">
      </div>
    </div>
  </div>
</main>
